@mixin Fade-In($value, $timer, $opacity) {
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: $opacity;
    }
  }

  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: $opacity;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: $opacity;
    }
  }

  & {
    opacity: 0;
    /* make things invisible upon start */
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -webkit-animation: fadeIn ease-in $value;
    -moz-animation: fadeIn ease-in $value;
    animation: fadeIn ease-in $value;

    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: $timer;
    -moz-animation-duration: $timer;
    animation-duration: $timer;
  }
}

.fade-in-effect {
  @include Fade-In(0.5s, 0.5s, 1);
}