.nav {
  @include centerFlex;
  justify-content: flex-start;
  position: relative;
  top: 0;

  padding: 5rem 0rem;

  background-color: black;
  opacity: 100%;
  z-index: 999;

  transition-timing-function: ease-in;
  transition: 0.5s;

  &__solid {
    opacity: 100%;
  }

  &__faded {
    opacity: 25%;
  }

  &__home-name {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    background-color: black;

    position: fixed;
    margin-left: 15rem;
    padding: 1rem 2rem;

    border: green 0.5rem solid;

    transition: all .3s;
    cursor: pointer;

    &:active,
    &:hover {
      color: green;
    }
  }

  &__link-container {
    @include fixedCenter;

    div {
      @include centerFlex;
      gap: 2rem;
    }
  }

  &__link {
    margin: 0rem 5rem;

    text-decoration: none;
    color: white;

    transition: all .3s;
    cursor: pointer;

    &:active,
    &:hover {
      color: green;
    }

  }
}